<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập để tiếp tục</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
    <div class="modal-overlay"></div>

    <div class="login-modal">
        <button class="close-btn" onclick="closeModal()">×</button>

        <h2 class="modal-title">Đăng nhập để tiếp tục</h2>
        <!-- Form Quên Mật Khẩu -->
        <form id="forgotPasswordForm" style="display: none;">
            <div class="form-group">
                <label class="form-label">Nhập email để đặt lại mật khẩu</label>
                <input id="resetEmail" type="email" class="form-input" required>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-secondary" onclick="backToLogin()">Quay lại</button>
                <button type="button" class="btn btn-primary" id="reset-pwd">Gửi yêu cầu</button>
            </div>
        </form>

        <!-- Form Đăng Nhập -->
        <form id="loginForm">
            <div class="social-buttons">
                <button id="btnGoogleLogin" class="social-btn google-btn">với tài khoản Google</button>
                <button id="btnFacebookLogin" class="social-btn facebook-btn">với tài khoản Facebook</button>
            </div>

            <div class="divider">
                <span>hoặc đăng nhập bằng email</span>
            </div>
            <div class="form-group">
                <label class="form-label">Email <span class="required">*</span></label>
                <input id="email" type="email" class="form-input" required>
            </div>

            <div class="form-group">
                <label class="form-label">Mật khẩu <span class="required">*</span></label>
                <div class="password-input-wrapper">
                    <input type="password" class="form-input" id="password" required>
                    <button type="button" class="password-toggle" onclick="togglePassword()">👁</button>
                </div>
                <div class="forgot-password">
                    <a id="forget-pwd-btn" href="#">Quên mật khẩu?</a>
                </div>
            </div>

            <div class="form-footer">
                <div>
                    <span style="color: #666; font-size: 14px;">Chưa có tài khoản? </span>
                    <a href="/register" class="signup-link">Đăng Ký</a>
                </div>

                <div class="form-actions">
                    <button type="button" class="btn btn-secondary">Hủy</button>
                    <button id="btnEmailLogin" type="button" class="btn btn-primary">Đăng nhập</button>
                </div>
            </div>
        </form>
    </div>


    <script type="module" src="/js/accounts/login.js"></script>
</body>

</html>